.my-6rem{
    margin: 6rem 0rem !important;
  }

#About img, #Home img{
    filter: drop-shadow(10px 0px 5px rgba(0, 0, 0, 0.5))
}
.wrapper{
    border: 1px solid #fff;
}

#Skills article:hover{
    filter: drop-shadow(5px 0px 4px rgba(22,22,33,0.4));
}
.btn-project{
    border-radius: 12px;
}

.btn-cont:hover{
    background-color: #F1F1F1;
}

.fot-btn:hover{
    content: 'K hAll Hh';
}